 <div id="editContainer">
  <div id="deleteTvShowContainer">
   <p class="lead">Choose a tv show you want to delete:</p>
   <form name="deleteTvShowForm">
     <select class="form-control" name="tvShowGenre" ng-model="tvshowToDeleteId" ng-change="getTvShowDetails(tvshowToDeleteId)" required>
		    <option ng-repeat="tvshow in tvshows" value="{{tvshow.id}}">{{tvshow.name}}</option>
	    </select>
	  </form>
	  <p ng-show=showParagraph ng-model="tvshowToDelete">Tv Show Name={{tvshowToDelete.name}} , Rating={{tvshowToDelete.rating}}</p>
	  
	  <button type="button" class="btn btn-primary bg-1" ng-click="deleteRecord()" ng-disabled="deleteTvShowForm.tvShowGenre.$error.required">Delete</button>
  </div>
    
  <div id="editTvShowContainer">
	<p class="lead"><br>Choose a tv show you want to edit:</p>
		<form name="editTvShowForm">
			<select class="form-control" name="tvShowGenre" ng-model="tvshowToEditId" required>
		  		<option ng-repeat="tvshow in tvshows" value="{{tvshow.id}}">{{tvshow.name}}</option>
	  		</select>
	  
	  <label for="tvShowName">Name</label>
			<input type="text" class="form-control" id="tvShowName" ng-model="tvshowToEdit.name"/>
			
			<label for="tvShowGenre">Genre</label>
			<select class="form-control" id="tvShowGenre" ng-model="tvshowToEdit.GenreId">
				<option ng-repeat="genre in genres" value="{{genre.id}}">{{genre.name}}</option>
			</select>
			
			<label for="tvShowRating">Rating</label>
			<input type="text" class="form-control" id="tvShowRating" ng-model="tvshowToEdit.rating"/>
			
			<label for="tvShowReview">Review</label>
   <textarea class="form-control" rows="5" id="tvShowReview" ng-model="tvshowToEdit.review"></textarea>
	  </form>
	  <button type="button" class="btn btn-primary bg-1" ng-click="updateRecord()" ng-disabled="editTvShowForm.tvShowGenre.$error.required">Update changes</button>
  </div>
</div>